Repository situation-sh/situation: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-docs, format-go

update-docs:
  name: update module documentation
  language: system
  entry: make docs
  pass_filenames: false

format-go:
  name: format golang files
  language: system
  entry: gofmt -s -w ./...
  pass_filenames: false

fix uptime -> ns
  pkg/modules/host_basic.go
Due: update-docs, format-go

add subnet + chassis support in snmp
  pkg/modules/snmp.go
  pkg/modules/snmp/interfaces.go
  pkg/modules/snmp/oids.go
  pkg/store/bun_subnetwork.go
Due: update-docs, format-go

useless variable
  pkg/modules/snmp/ip.go
Due: update-docs, format-go

minor fixes
  docs/macros/main.py
  pkg/tui/title_border.go
Due: format-go

remove jsonschema code (keep annotations)
  go.mod
  go.sum
  pkg/models/application_endpoint.go
  pkg/models/flow.go
  pkg/models/models_test.go
  pkg/models/network_interface.go
Due: format-go

update deps
  go.mod
  go.sum
Due: none

upgrade deps
  go.mod
  go.sum
Due: none

use moby rather than docker
  go.mod
  go.sum
  pkg/modules/docker.go
  pkg/modules/docker/docker.go
  pkg/modules/docker/swarm.go
Due: update-docs, format-go

add task mode
  docs/02_setup.md
Due: none

fix docs
  docs/API/10_sqlite.md
  docs/API/20_postgres.md
  docs/API/postgres.md
  docs/API/sqlite.md
  docs/modules/arp.md
  docs/modules/chassis.md
  docs/modules/docker.md
  docs/modules/dpkg.md
  docs/modules/fingerprint.md
  docs/modules/host_basic.md
  docs/modules/host_cpu.md
  docs/modules/host_disk.md
  docs/modules/host_gpu.md
  docs/modules/host_network.md
  docs/modules/index.md
  docs/modules/ja4.md
  docs/modules/local_users.md
  docs/modules/macvendor.md
  docs/modules/msi.md
  docs/modules/netstat.md
  docs/modules/ping.md
  docs/modules/reverse_lookup.md
  docs/modules/rpm.md
  docs/modules/saas.md
  docs/modules/snmp.md
  docs/modules/standard_protocol.md
  docs/modules/tcp_scan.md
  docs/modules/tls.md
  docs/modules/zypper.md
  go.sum
  internal/cmd/db_doc.go
Due: format-go

update python deps
  uv.lock
Due: none

update ts deps
  bun.lock
  package.json
Due: none

Path conditions:
  update-docs: any of: pkg/modules/.*[.]go
  format-go: any of: .*[.]go
