Repository situation-sh/situation: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-docs, format-go

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: detect-private-key
    - id: end-of-file-fixer
    - id: trailing-whitespace
- repo: local
  hooks:
    - id: update-docs
      name: update module documentation
      language: system
      entry: make docs
      pass_filenames: false
      files: pkg/modules/.*[.]go
    - id: format-go
      name: format golang files
      language: system
      entry: gofmt -s -w ./...
      pass_filenames: false
      files: .*[.]go

fix some modules + add std-proto
  agent/cmd/root.go
  agent/cmd/run.go
  agent/cmd/task.go
  agent/cmd/task_linux.go
  agent/cmd/task_windows.go
  agent/config/config.go
  docs/01_quick_start.md
  docs/02_setup.md
  docs/05_CLI.md
  docs/10_roadmap.md
  docs/deploy/ansible.md
  docs/deploy/footprint.md
  docs/deploy/scheduled_task.md
  docs/developer/architecture.md
  docs/developer/contributing.md
  docs/developer/index.md
  docs/developer/modules.md
  docs/developer/store.md
  docs/index.md
  docs/installation.md
  go.mod
  go.sum
  mkdocs.yml
  pkg/models/application_endpoint.go
  pkg/models/network_interface.go
  pkg/modules/docker/docker.go
  pkg/modules/macvendor/vendors.go
  pkg/modules/module.go
  pkg/modules/module_test.go
  pkg/modules/netstat.go
  pkg/modules/reverse_lookup.go
  pkg/modules/saas.go
  pkg/modules/saas/flathub.go
  pkg/modules/standard_protocol.go
  pkg/perf/perf.go
  pkg/perf/perf_test.go
  pkg/store/bun.go
  pkg/store/migrations/postgres/0002_indices.up.sql
  pkg/store/migrations/sqlite/0002_indices.down.sql
  pkg/store/migrations/sqlite/0002_indices.up.sql
Due: update-docs, format-go

add few ports
  pkg/modules/docker/docker.go
  pkg/modules/module_test.go
  pkg/modules/standard_protocol.go
  pkg/store/migrations/postgres/0002_indices.down.sql
  pkg/store/migrations/sqlite/0002_indices.up.sql
Due: update-docs, format-go

add basic tui
  agent/cmd/explore.go
  pkg/tui/card.go
  pkg/tui/colors.go
  pkg/tui/error.go
  pkg/tui/footer.go
  pkg/tui/header.go
  pkg/tui/root.go
  pkg/tui/share.go
  pkg/tui/sidebar.go
  pkg/tui/table.go
  pkg/tui/title_border.go
Due: format-go

explore in run + flows layout in tui
  agent/cmd/run.go
  go.mod
  pkg/tui/card.go
Due: format-go

better tui + screenshot
  docs/05_CLI.md
  go.mod
  go.sum
  pkg/tui/ansitosvg.go
  pkg/tui/colors.go
  pkg/tui/error.go
  pkg/tui/footer.go
  pkg/tui/header.go
  pkg/tui/root.go
Due: format-go

update docs
  docs/01_quick_start.md
  docs/05_CLI.md
  docs/deploy/scheduled_task.md
  docs/deploy/sentry.md
  docs/img/tui.svg
  docs/index.md
  docs/modules/arp.md
  docs/modules/chassis.md
  docs/modules/docker.md
  docs/modules/dpkg.md
  docs/modules/fingerprint.md
  docs/modules/host_basic.md
  docs/modules/host_cpu.md
  docs/modules/host_disk.md
  docs/modules/host_gpu.md
  docs/modules/host_network.md
  docs/modules/index.md
  docs/modules/ja4.md
  docs/modules/local_users.md
  docs/modules/macvendor.md
  docs/modules/msi.md
  docs/modules/netstat.md
  docs/modules/ping.md
  docs/modules/reverse_lookup.md
  docs/modules/rpm.md
  docs/modules/saas.md
  docs/modules/standard_protocol.md
  docs/modules/tls.md
  docs/modules/zypper.md
  mkdocs.yml
  pkg/modules/host_network.go
  pkg/modules/reverse_lookup.go
  pkg/tui/colors.go
Due: update-docs, format-go

fix doublons + add relations in migrations
  Makefile
  README.md
  agent/cmd/root.go
  docs/05_CLI.md
  docs/index.md
  pkg/models/application.go
  pkg/models/application_endpoint.go
  pkg/models/devices.go
  pkg/models/machine.go
  pkg/models/network_interface.go
  pkg/models/package.go
  pkg/models/subnetwork.go
  pkg/models/user.go
  pkg/modules/arp.go
  pkg/modules/docker/docker.go
  pkg/modules/host_network.go
  pkg/modules/ping.go
  pkg/modules/reverse_lookup.go
  pkg/modules/saas.go
  pkg/modules/standard_protocol.go
  pkg/modules/tcp_scan.go
  pkg/store/bun_network_interface.go
  pkg/store/migrations.go
  pkg/store/migrations/postgres/0001_initial.up.sql
  pkg/store/migrations/sqlite/0001_initial.up.sql
  pyproject.toml
  uv.lock
Due: update-docs, format-go

add migrate command
  agent/cmd/migrate.go
Due: format-go

experimental sdks
  .github/workflows/sdk.yaml
  Makefile
  package.json
  pyproject.toml
  sdk/drizzle/package.json
  sdk/drizzle/tsconfig.json
  sdk/sqlmodel/pyproject.toml
  uv.lock
Due: none

push for first run
  .github/workflows/sdk.yaml
Due: none

restore
  .github/workflows/sdk.yaml
Due: none

fix migrate cmd
  .github/workflows/sdk.yaml
Due: none

reset push
  .github/workflows/sdk.yaml
Due: none

fix migration
  .github/workflows/sdk.yaml
Due: none

debug env
  .github/workflows/sdk.yaml
Due: none

forward ports
  .github/workflows/sdk.yaml
Due: none

add project file for ja4
  dev/ja4/pyproject.toml
Due: none

use printf instead of echo
  Makefile
Due: none

upload artifacts
  .github/workflows/sdk.yaml
Due: none

disable migration on demand
  agent/cmd/run.go
Due: format-go

support sslkey and sslcert
  pkg/store/bun.go
Due: format-go

update security doc
  docs/02_setup.md
  mkdocs.yml
Due: none

update README
  README.md
Due: none

fix docs.yaml
  .github/workflows/docs.yaml
Due: none

add missing doc + filter run workflow
  .github/workflows/run.yaml
  docs/03_security.md
Due: none

fix doc gen in Makefile
  Makefile
Due: none

update badges
  README.md
Due: none

push docs with action
  .github/workflows/docs.yaml
Due: none

update docs
  .github/workflows/osv-scanner.yaml
  README.md
  docs/API/overview.md
  docs/API/postgres.md
  docs/API/sqlite.md
  docs/deploy/sentry.md
  docs/excalidraw/architecture.svg
  docs/index.md
  docs/macros/main.py
  docs/modules/arp.md
  docs/modules/chassis.md
  docs/modules/docker.md
  docs/modules/dpkg.md
  docs/modules/fingerprint.md
  docs/modules/host_basic.md
  docs/modules/host_cpu.md
  docs/modules/host_disk.md
  docs/modules/host_gpu.md
  docs/modules/host_network.md
  docs/modules/ja4.md
  docs/modules/local_users.md
  docs/modules/macvendor.md
  docs/modules/msi.md
  docs/modules/netstat.md
  docs/modules/ping.md
  docs/modules/reverse_lookup.md
  docs/modules/rpm.md
  docs/modules/saas.md
  docs/modules/standard_protocol.md
  docs/modules/tcp_scan.md
  docs/modules/tls.md
  docs/modules/zypper.md
  internal/cmd/db_doc.go
  mkdocs.yml
  uv.lock
Due: format-go

add excalidraw folder
  excalidraw/architecture.json
  excalidraw/architecture.svg
Due: none

fix img in readme
  README.md
Due: none

update docs badge
  README.md
Due: none

point pages to docs.situation.sh
  mkdocs.yml
Due: none

update deps + fix pci db error in gpu module
  go.mod
  go.sum
  pkg/modules/host_gpu.go
Due: update-docs, format-go

use gsa instead of goweight
  Makefile
  go.mod
  go.sum
Due: none

add badge for run
  README.md
Due: none

run release on tag
  .github/workflows/release.yaml
Due: none
