Repository situation-sh/situation: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-docs, format-go

update-docs:
  name: update module documentation
  language: system
  entry: make docs
  pass_filenames: false

format-go:
  name: format golang files
  language: system
  entry: gofmt -s -w ./...
  pass_filenames: false

filter sdk action
  .github/workflows/sdk.yaml
Due: none

update sec docs
  docs/03_security.md
  docs/05_CLI.md
Due: none

options pattern + read-only mode
  pkg/store/bun.go
  pkg/store/bun_test.go
  pkg/store/migrations.go
Due: format-go

adapt to the options pattern
  agent/cmd/explore.go
  agent/cmd/migrate.go
  agent/cmd/run.go
  pkg/modules/context.go
  pkg/modules/module_test.go
Due: update-docs, format-go

update Makefile + add mcp command
  Makefile
  agent/cmd/log.go
  agent/cmd/mcp.go
  agent/cmd/root.go
  docs/img/codespaces.svg
  go.mod
  go.sum
Due: format-go

add dev mcp resources
  dev/mcp/README.md
  dev/mcp/postgres.svg
  dev/mcp/situation.svg
  dev/mcp/sql.svg
  dev/mcp/sqlite.svg
Due: none

better manage flags + reorg mcp cmd
  agent/cmd/explore.go
  agent/cmd/mcp.go
  agent/cmd/migrate.go
  agent/cmd/run.go
Due: format-go

read env after init but before parsing
  agent/main.go
Due: format-go

ensure sqlite use uri for ro mode
  pkg/store/bun.go
  pkg/store/bun_test.go
Due: format-go

mcp inspection
  Makefile
  bun.lock
  package.json
Due: none

code quality
  pkg/modules/host_gpu.go
  pkg/modules/ja4/ja4.go
  pkg/modules/ja4/utils.go
  pkg/tui/table.go
Due: update-docs, format-go

code quality 2
  agent/cmd/task_linux.go
  docs/macros/main.py
  pkg/modules/ping.go
Due: update-docs, format-go

mcp docs
  agent/cmd/mcp.go
  docs/API/00_overview.md
  docs/API/10_sqlite.md
  docs/API/20_postgres.md
  docs/API/30_mcp.md
  docs/css/extra.css
  docs/css/nord.css
  docs/img/situation.svg
  mkdocs.yml
Due: format-go

security fixes + host_gpu query fix
  agent/cmd/mcp.go
  agent/cmd/run.go
  agent/main.go
  go.mod
  go.sum
  pkg/modules/host_gpu.go
Due: update-docs, format-go

adapt internal commands to new storage API
  internal/cmd/db_doc.go
  internal/cmd/makemigrations.go
Due: format-go

gosec fixes
  agent/cmd/run.go
  agent/config/config.go
  internal/cmd/db_doc.go
  internal/cmd/makemigrations.go
  internal/cmd/modules_doc.go
  pkg/modules/tls.go
  pkg/store/bun.go
  pkg/store/migrations.go
  pkg/test/data.go
  pkg/tui/root.go
Due: update-docs, format-go

update tools
  Makefile
  go.mod
  go.sum
Due: none

update docs
  docs/API/30_mcp.md
  uv.lock
Due: none

add timeout
  pkg/modules/reverse_lookup.go
Due: update-docs, format-go

detect chassis based on gpu (hyper-v)
  pkg/modules/host_gpu.go
Due: update-docs, format-go

add discord saas
  pkg/modules/saas/discord.go
Due: update-docs, format-go

fix package manager error on postgres
  pkg/modules/package_manager.go
  pkg/store/bun_package.go
Due: update-docs, format-go

put unique index to solve app endpoint doublons
  pkg/modules/netstat.go
  pkg/store/migrations/postgres/0003_endpoint_null_interface.down.sql
  pkg/store/migrations/postgres/0003_endpoint_null_interface.up.sql
  pkg/store/migrations/sqlite/0003_endpoint_null_interface.down.sql
  pkg/store/migrations/sqlite/0003_endpoint_null_interface.up.sql
Due: update-docs, format-go

add dns name
  pkg/modules/saas/github.go
Due: update-docs, format-go

recall Name in saas matching
  pkg/modules/saas/main.go
Due: update-docs, format-go

add google ip ranges
  pkg/modules/saas/google.go
Due: update-docs, format-go

go1.26.1
  go.mod
  go.sum
Due: none

fix possible machine doublon in reverse_lookup
  pkg/modules/reverse_lookup.go
Due: update-docs, format-go

migrate to v2
  go.mod
  go.sum
  pkg/tui/card.go
  pkg/tui/colors.go
  pkg/tui/error.go
  pkg/tui/footer.go
  pkg/tui/header.go
  pkg/tui/root.go
  pkg/tui/sidebar.go
  pkg/tui/table.go
  pkg/tui/title_border.go
Due: format-go

fix modal + remove useless loop
  pkg/tui/ansitosvg.go
  pkg/tui/root.go
  pkg/tui/table.go
Due: format-go

update internal command to grab options
  internal/docs/model.go
  internal/docs/parser.go
Due: format-go

update module doc
  docs/01_quick_start.md
  docs/03_security.md
  docs/macros/main.py
  docs/modules/arp.md
  docs/modules/chassis.md
  docs/modules/docker.md
  docs/modules/dpkg.md
  docs/modules/fingerprint.md
  docs/modules/host_basic.md
  docs/modules/host_cpu.md
  docs/modules/host_disk.md
  docs/modules/host_gpu.md
  docs/modules/host_network.md
  docs/modules/index.md
  docs/modules/ja4.md
  docs/modules/local_users.md
  docs/modules/macvendor.md
  docs/modules/msi.md
  docs/modules/netstat.md
  docs/modules/ping.md
  docs/modules/reverse_lookup.md
  docs/modules/rpm.md
  docs/modules/saas.md
  docs/modules/standard_protocol.md
  docs/modules/tcp_scan.md
  docs/modules/tls.md
  docs/modules/zypper.md
Due: none

add missing db api
  docs/API/postgres.md
  docs/API/sqlite.md
Due: none

export options
  pkg/modules/docker.go
  pkg/modules/ping.go
Due: update-docs, format-go

fetch nic machine
  pkg/store/bun_network_interface.go
Due: format-go

bring snmp back
  docs/modules/snmp.md
  pkg/modules/snmp.go
  pkg/modules/snmp/interfaces.go
  pkg/modules/snmp/oids.go
  pkg/modules/snmp/run.go
Due: update-docs, format-go

update python deps
  pkg/modules/standard_protocol.go
  uv.lock
Due: update-docs, format-go

dedup nic in reverse_lookup + add dedup utils
  pkg/modules/host_network.go
  pkg/modules/netstat.go
  pkg/modules/reverse_lookup.go
  pkg/utils/utils.go
Due: update-docs, format-go

remove commented code
  pkg/models/machine.go
Due: format-go

add constructor helper
  pkg/models/subnetwork.go
Due: format-go

Path conditions:
  update-docs: any of: pkg/modules/.*[.]go
  format-go: any of: .*[.]go
